body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    width: 100%;
}

.header {
    /* border: 1px solid red; */
    max-width: 1052px;
    width: 100%;
    height: auto;
    min-height: 105px;
    margin: 92px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header li, a {
    color: black;
}

.header__menu {
    /* border: 1px solid red;*/
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
}

.header__links-list {
    display: inline-flex;
    gap: 13px;
}

.header__links-list-item {
    list-style: circle;
    list-style-position: inside;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link_active {
    text-decoration: none;
}

.header__links-list li, a {
    text-decoration: none;
}

.header__link {
    border-bottom: 1px solid black;
}

.logo {
    align-content: center;
    justify-items: center;
}

.contact-adress {
    display: grid; 
    margin-left: 184px;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
} 

.cover {
    background-image: url(../Images/lotus-flower.png);
    height: 757px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    margin-bottom: 178px;
}

.cover__title {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 165px;
    left: 50px;
    max-width: 1000px;
    height: 355px;
    width: 100%;
    z-index: 2;

}

.cover h1 {
    font-family: 'Raleway';
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    /*margin-bottom: 20px;*/
}

.letter-spacing-extended-1 {
    letter-spacing: 6px;
}

.letter-spacing-extended-2 {
    letter-spacing: 36px;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.aligned-text_center {
    /* position:absolute;
    left: 286px;
    top: 127px; */
    margin-left: 286px;
    margin-top: 12px;
    margin-bottom: 5px;

}

.letter-spacing-extended-3 {
    letter-spacing: 6px;
}

.letter-spacing-extended-4 {
    letter-spacing: 6px;
}

.letter-spacing-extended-5 {
    letter-spacing: 36px;
}

.aligned-text_right {
    justify-items: end;
}

.letter-spacing-extended-6 {
    letter-spacing: 36px;
}

.letter-spacing-extended-7 {
    letter-spacing: 6px;
}

.letter-spacing-extended-8 {
    letter-spacing: 6px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
}

.description {
    width: 100%;
    align-self: end;
    padding-bottom: 50px;
    z-index: 1;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cover__description-text {
    margin-left: 78px;
}

.cover__description a {
    width: 256px;
    height: 51px;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 50px;
}

/*word-space работает только для целой строки но расстояние не сходится, если нужно
разное расстояние то только через span*/

/* .cover__description span{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
.cover__description-text-1{
    margin-right:5px;
}
 */
.cover__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    word-spacing: 19px;
    letter-spacing: normal;
}

.lots {
    max-width: 1052px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
}

.lots__head {
    left: 40px;
    position: relative;
    margin-bottom: 27px;
}

.lots__heading {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    gap: 29px;
}


.lots__card-list li {
    width: 331px;
    height: 563px;
    flex-grow: 1; 
}


.card-link {
    display: block; 
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
}


.card {
    position: relative;
    width: 100%;
    height: 100%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}


.card_type_film .card {
    background-image: url(../Images/film-card.png);
}

.card_type_book .card {
    background-image: url(../Images/books-card.png);
}

.card_type_picture .card {
    background-image: url(../Images/picture-card.png);
}

.card__title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-decoration: underline;
}

.title-line{
  border-bottom: 1px solid #fff;  
}
.card__content {
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 254px;
    margin: auto;
    padding-top: 51px;
}


.card__description {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    
}
.description-card_type_film {
  padding-top: 242px;  
}

.description-card_type_picture {
    padding-top: 98px;
}

.more {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-decoration: underline;
    margin: 30px 0 0 40px;
}

.about {
    margin: auto;
    width: 1052px;
    display: grid;
    grid-template-columns: 336px auto;
    margin-top: 146px;
    gap: 24px;
}
.logo-container {
    width: 240px;
    display: grid;
    justify-self: center;
    margin-top: 37px;
}
.logo-about {
    width: 100%;
    height: auto;
    
}
.about__title {
    margin-top: 149px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.about-text {
    /* margin-top: 134px; */
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
}
.content {
    margin-top: 114px;
}
